/**
 * Created by Artuur on 2/08/16.
 */
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #CCCC52;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
hr.star-light,
hr.star-primary,
hr.star-secundary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after,
hr.star-secundary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #CCCC52;
  color: white;
}
hr.star-primary {
  border-color: #192B33;
}
hr.star-primary:after {
  background-color: white;
  color: #192B33;
}
hr.star-secundary{
  border-color: white;
}
hr.star-secundary:after{
  background-color: #192B33;
  color: white;
}
.img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
  background: #192B33;
  color: white;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}
.navbar-custom {
  background: #192b33;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #CCCC52;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #CCCC52;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #CCCC52;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #CCCC52;
  color: white;
  border-color: #CCCC52;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
section {
  padding: 80px 0;
}
section.jsondata-forecast {
  padding: 40px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.filterbox {
  /*background-color: #CCCC52;*/
  opacity: 0.95;
  color: white;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  height: 100%;
}
@media (max-width: 767px) {
  section {
    padding: 40px 0;
  }
  section.first {
    padding-top: 40px;
  }
}
#extra .extra-item {
  margin: 0 0 15px;
  right: 0;
}
#extra .extra-item .extra-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#extra .extra-item .extra-link .caption {
  background: #B6CDD3;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#extra .extra-item .extra-link .caption:hover {
  opacity: 1;
}
#extra .extra-item .extra-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#extra .extra-item .extra-link .caption .caption-content i {
  margin-top: -12px;
}
#extra .extra-item .extra-link .caption .caption-content h3,
#extra .extra-item .extra-link .caption .caption-content h4 {
  margin: 0;
}
#extra * {
  z-index: 2;
}
section#contact {
  background: #CCCC52;
  color: white;
}
@media (min-width: 767px) {
  #extra .extra-item {
    margin: 0 0 30px;
  }
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #ffffff;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
  color: white;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 2px solid #ffffff;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #CCCC52;
}
form .row:first-child .floating-label-form-group {
  border-top: 2px solid #ffffff;
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #ffffff;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #ffffff;
  opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #ffffff;
  opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #ffffff;
}
.newsletterSub {
  padding: 30px;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #192B33;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #192b33;
}
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #CCCC52;
  background: white;
  border: solid 2px white;
}
.btn-search {
  color: white;
  font-size: 15px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  float: left;
}
.btn-search:hover,
.btn-search:focus,
.btn-search:active,
.btn-search.active {
  color: #CCCC52;
  background: white;
  border: solid 2px white;
}
.btn-primary {
  color: white;
  background-color: #192B33;
  border-color: #192B33;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1a242f;
  border-color: #161f29;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #192B33;
  border-color: #192B33;
}
.btn-primary .badge {
  color: #192B33;
  background-color: white;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.custom-checkbox {
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
.custom-checkbox [type="checkbox"] {
  display: none;
}
.custom-checkbox [type="checkbox"]:checked + .alt {
  color: #192B33;
}
.custom-checkbox [type="checkbox"]:checked + .alt:before {
  content: "✔";
  font-size: 11px;
  color: #ffffff;
  text-shadow: none;
  background: #192B33;
}
.custom-checkbox .alt {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.custom-checkbox .alt:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 5px;
  border: 3px solid #192B33;
  margin-right: 4px;
  margin-top: 4px;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.scroll-top .btn:focus {
  outline: none;
}
.extra-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.extra-modal .modal-content h2 {
  margin: 0;
  font-size: 2.8em;
}
@media (max-width: 667px) {
  .extra-modal .modal-content h2 {
    margin: 0;
    font-size: 2.3em;
  }
}
.extra-modal .modal-content img {
  margin-bottom: 30px;
}
.extra-modal .modal-content .item-details {
  margin: 30px 0;
}
.extra-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.extra-modal .close-modal:hover {
  opacity: 0.3;
}
.extra-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #192B33;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.extra-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #192B33;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.extra-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
#map {
  width: 100%;
  height: 450px;
}
.map{
  width: 100%;
  position:relative;
  height: 450px;
}
.map #map{width: 100%; height: 450px; background-color: #E9E9E9;}
/*.success{
  top: 10px;
  right: 10px;
  height: 100%;
}*/
.filterbox {
  position:absolute;
  top: 10px;
  right: 10px;
  height: 100%;
}
.filterbox .container{height: 100%;}
.success .container{height: 100%;}
.filters{
  height: 100%;
  padding-left: 15px;
  }
.nav-bars {
  position:absolute;
  top: 15px;
  right: 15px;
  font-size: xx-large;
  color: #192B33;
  z-index: 100;
}
.filter-card {
  display:none;
  padding-top: 20px;
  height: 100%;
  background-color: #CCCC52 !important;
}
.display-block{display: block;}
*, *:before, *:after {
  box-sizing: border-box;
}

.range-slider {
  margin: 40px 0 0 0;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
  float:right;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
.cards {
  list-style-type: none;
}
.forecast-name {
  font-size: 1em;
  font-weight: bold;
  background: #192B33;
  color: white;
}
.forecast-name-general {
  font-size: 1em;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #192B33;
  color: white;
  padding: 20px;
  text-transform: uppercase;
}
.forecast-value {
  font-size: 1.75em;
}
.forecast-value2 {
  background: #CCCC52;
  color: #192B33;
  font-weight: bold;
}
@media (max-width: 667px) {
  .forecast-name {
    font-size: 0.85em;
    font-weight: bold;
    background: #192B33;
    color: white;
  }
  .forecast-name-general {
    font-size: 0.85em;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #192B33;
    color: white;
    padding: 20px;
    text-transform: uppercase;
  }
  .forecast-value {
    font-size: 1.60em;
  }
}
.quiz {
  max-width: 960px;
  margin: 0 auto;
}
.quiz ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.quiz-question {
  display: block;
  padding: 30px 0 10px 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.quiz-answer {
  margin: 0;
  padding: 10px;
  background: #f7f7f7;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 20px;
}
.quiz-answer:hover {
  background: #eee;
}
.quiz-answer:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  background: #fff;
  vertical-align: middle;
  margin-right: 10px;
}
.quiz-answer.active:before {
  background-color: #333;
  border-color: #333;
}
.quiz-answer.correct:before {
  background-color: #CCCC52;
  border-color: #CCCC52;
}
.quiz-answer.incorrect:before {
  background-color: #333;
  border-color: #333;
}
.quiz-result {
  max-width: 960px;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 20px;
  font-size: 1.5em;

}
.quiz-result.good {
  background: #192B33;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
}
.quiz-result.mid {
  background: #192B33;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
}
.quiz-result.bad {
  background: #192B33;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
}
li.quiz-answer.active.correct{
  font-weight: bold;
  background: #CCCC52;
}
li.quiz-answer.active.incorrect{
  text-decoration: line-through;
  font-weight: bold;
  background: #B6CDD3;
}
li.quiz-answer.correct{
  font-weight: bold;
  background: #CCCC52;
}
